@import url(http://fonts.googleapis.com/css?family=Dosis);

.navbar {
	border-radius:0;
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 100;
	font-size: 30px;
	box-shadow: 0px 3px 8px #2a2a2a;
}

.navbar-brand {
	font-weight: 100;
	font-size: 40px;
}

h1, h2, h3, h5, h6, .navbar {
	margin:0;
}

.hero {
	background: url('hero.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 370px;
	box-shadow: 0px 3px 8px #2a2a2a;
}

.frosty {
	background: rgba(0,0,0,0.5);
	color: white;
}

.frosty h1 {
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 100;
	text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.frosty h2 {
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 200;
	text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.btn {
	border-radius: 0;
}

body {
	background: #000;
	font-family: 'Dosis', sans-serif;
	font-weight: 200;
	font-size: 30px;
	color: white;
}