@import url(http://fonts.googleapis.com/css?family=Dosis);


.navbar {
	border-radius:0;
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 100;
	font-size: 30px;
	box-shadow: 0px 3px 8px #2a2a2a;
}

.navbar-brand {
	font-weight: 100;
	font-size: 40px;
}

h1, h2, h3, h5, h6, .navbar {
	margin:0;
}

.hero {
	background: url('hero.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 370px;
	box-shadow: 0px 3px 8px #2a2a2a;
}

.frosty {
	background: rgba(0,0,0,0.5);
	color: white;
}

.frosty h1 {
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 100;
	text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.frosty h2 {
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 200;
	text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.btn {
	border-radius: 0;
}

body {
	background: #E6E6E6;
	font-family: 'Dosis', sans-serif;
	font-weight: 200;
	font-size: 30px;
}

.big-box {
	-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
	-webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
	box-shadow: 1px 1px 2px 0 #d0d0d0;
	background: #fff;
	border: 1px solid #ccc;
	border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
	padding: 10px;
	margin-top: 10px;
}

.big-box h2 {
	font-size: 40px;
}

.clr {
	clear:both;
}

.field_with_errors {
	color: #ff3333;
	background-color: #FFEEEE;
	border-radius: 3px;
	padding: 8px;
	margin: 15px;
}